body{
     font-family: 'Lato', sans-serif; 
     background-color: #143640;
     padding-bottom: 20px;
}



main{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	min-width: 380px;
	border: 1px solid #dcddcd;
	border-radius: 5px;
	padding-bottom: 20px;
	color: #dcddcd;
	
}

main article{
	color: #dcddcd;
	padding-left: 20px;
	padding-right: 20px;
}

.ss-q-title{
	font-size: 18px;
	padding-bottom: 5px;
	padding-top: 15px;
	padding-left: 2px;
}

#ss-submit{
	margin-top: 20px;
}