body{
     font-family: 'Raleway', sans-serif;
     background-color: white;
     min-width: 800px;
}



header{
	background-color: white;
	background-image:url("../photos/blue stripe bunting.png");
	background-size: 100% 100%;
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 400px;
	min-width: 800px;
}

.profilepic{
	max-width: 250px;
	margin: 0 auto;
	display: block;
	padding-top: 160px;
}

main{
	max-width: 800px;
	margin: 425px auto 0px;
	width: 60%;
	padding-bottom: 20px;
}

a{
	text-decoration: none;
	display: inline-block;
	padding: 10px;
	font-size: 14px;
	letter-spacing: .5px;
	font-size: 16px;
	color: #333332;
	text-decoration: underline;
}


article{
	color: #333332;
	padding: 0 15px;
	line-height: 160%;
}

article h2{
	text-align: center;
	font-size: 32px;
	padding: 20px 0 25px 0;
	font-weight: bold; 
}


article p{
	text-align: justify;
	letter-spacing: .01rem;
	font-weight: 400;
	margin: 0 0 20px 0;
}

article ol{
	margin: 0 0 20px 0;
}

article ol li{
	margin: 0 0 20px 0;
	text-align: center;

}

.listHead{
	font-weight: bold;
	display: block;
	text-align: center;
	text-decoration: underline;
}


footer{
	width: 100%;
	background-color: #f9f9f9;
	padding: 60px 0 0px;
	border-top: 1px solid #f2f2f0;
	margin: 20px 0 0;
}


 footer p{
	margin: 0 0 20px 0;
	width:100%;
	text-align: center;
 }

.thank_you_article{
	text-align: center;
}

.thank_you_article h2{
	margin-bottom: 10px;
}

