body{
     font-family: 'Lato', sans-serif; 
     max-width: 100%;
     background-color: #143640;
     padding-bottom: 20px;
}


header img{
	margin-left: auto;
	margin-right: auto;
	width:100%;
}


header nav{
	padding-top: 10px;
	text-align: center;
	background-color: #ED4D4E;
}

a{
	text-decoration: none;
	display: inline-block;
	padding: 10px;
	font-weight: bold;
	border-radius: 10px;
	border: solid 1px #143640;
	font-size: 12px;
}

header nav a{
	color: #ED4D4E;
	background-color: #dcddcd;
	padding-bottom: 10px;
}



main{
	max-width: 1200px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	max-width: 800px;
	border: 1px solid #dcddcd;
	border-radius: 5px;
	padding-bottom: 20px;
}



main article{
	color: #dcddcd;
	padding-left: 15px;
	padding-right: 15px;
}

article h2{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
	padding-bottom: 15px;
	padding-top: 20px;
}

article hr{
	width: 25%;
	margin-left:auto;
	margin-right: auto;	
}

.hr1{
	margin-top: 15px; 
	margin-bottom: 15px;
}

.hr2{
	margin-bottom: 15px;
}

article p{
	line-height: 115%;
}

article ol li{
	padding-bottom: 10px;
	text-align: center;
}

article a{
	margin-top: 15px;
	color: #dcddcd;
	background-color: #ED4D4E;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	display: block;
	width: 100px;
	margin-left: auto;
	margin-right: auto;

}

.listHead{
	font-weight:bold;
}

.thank_you_article{
	text-align: center;
}




